body{
    
	background: #000000;
	color: #999;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}



.right h4
    {
        padding: 15px 0;
		color: #D43F52;
    }
.skill {
        margin-right: 10px;
      }
      
.percentage {
        color: #008000; /* Green color for percentage */
      }
      

.contact-container {
        display: flex;
      }

.right,
.left
{
    flex: 2;
    padding: 100px;
}

.left{
    align-items: center;
    padding-bottom: 200px;

}