body{
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;

    background: #020307;
    border-radius: 10px;
}

p{
    font-family: "mirriweather";
    font-size: medium;
    font-style: oblique;
    color: whitesmoke;
}