body{
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;

    background: #020307;
}

header{
height: 47.720943450927734px;
width: 1080px;
left: 100px;
top: 43px;
border-radius: 0px;
}

/* Add a container to center the content */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: hsl(0, 17%, 94%);
    text-decoration: none;
  }
  
  li h3{
    position: absolute;
    width: 443px;
    height: 139px;
    left: 419px;
    top: 175px;
    

    font-family: 'merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    color: #FFFFFF;

}

li h5{
    position: absolute;
    width: 443px;
    height: 139px;
    left: 419px;
    top: 175px;
    padding:30px;

    font-family: 'merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    text-align: center;

    color: #01D5A2;
}

p{
    position: absolute;
    left: 47.42%;
    right: 47.42%;
    top: 6.11%;
    bottom: 87.26%;

    font-family: 'merriweather';
    font-style: normal;
    font-size: 20px;

    color: #FFFFFF;
}

.circle-1 {
  margin: 20px;
  position: absolute;
  height: 248px;
  width: 248px;
  left: 516px;
  top: 360px;
  border-radius: 800px;
  background: #0c0c0c;
  border: 2px solid #01D5A2;
}

.circle-2 {
  position: absolute;
  width: 248px;
  height: 248px;
  left: 516px;
  top: 370px;
  border-radius: 800px;
  
  background: url(Ben.jpg);
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}